.word-wrap {
    word-wrap: break-word; 
    max-width: 200px; 
    white-space: normal;
    text-align: justify;
  }
     /* Floating button for mobile */
     .floating-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    /* Ensure table is scrollable on mobile */
    @media (max-width: 768px) {
      .table-responsive {
        overflow-x: auto;
        display: block;
      }
    }
    /* Main container */
    .table-container {
      display: flex;
      flex-direction: column;
      height: 100vh; /* Full viewport height */
    }
  
    /* Table Wrapper */
    .table-wrapper {
      flex-grow: 1;
      overflow-y: auto; /* Allows scrolling */
    }
  
    /* Paginator fixed at bottom */
    .paginator-fixed {
      position: sticky;
      bottom: 0;
      background: white;
      z-index: 100;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }
  
    /* Make table scrollable on small screens */
    @media (max-width: 768px) {
      .table-wrapper {
        overflow-x: auto;
      }
    }
    
    th{
        font-size: 12px;
        font-weight: 500;
    }
   
    .mobile-floating-left, .mobile-floating-excel {
      position: fixed;
      bottom: 20px;
      left: 20px;
      z-index: 1000;
      border-radius: 50%;
      padding: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    
    .mobile-floating-excel {
      bottom: 80px; /* Offset from the PDF button */
    }