<div class="d-flex flex-row bd-highlight mb-3">
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">
        <input
          type="date"
          name=""
          id=""
          class="form-control"
          [(ngModel)]="Date"
          placeholder="Enter Date"
        />
      </div>
      <label for="" class="col-sm-2 col-form-label">Project Title</label>
      <div class="col-sm-10">
        <textarea
          type="text"
          name=""
          id=""
          class="form-control"
          [(ngModel)]="Project_Title"
          placeholder="Enter Project Title"
        ></textarea>
      </div>
      <label for="" class="col-sm-2 col-form-label">Project Leader</label>
      <div class="col-sm-10">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          [(ngModel)]="Project_Leader"
          placeholder="Enter Empoyee Name"
        />
      </div>
  
      <label for="" class="col-sm-2 col-form-label">Funding Source</label>
      <div class="col-sm-10">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          [(ngModel)]="Funding_Source"
          placeholder="Enter Funding Source"
        />
      </div>
  
      <label for="" class="col-sm-2 col-form-label">Budget </label>
      <div class="col-sm-10">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          [(ngModel)]="Budget"
          placeholder="Enter Budget"
        />
      </div>
      

    </div>
  </div>
  <button (click)="addRepository()" class="btn btn-primary" *ngIf="repo.id==0">
    Save
  </button>
  <button (click)="updateRepository()" class="btn btn-warning" *ngIf="repo.id!=0">
    Update
  </button>